.step1__boxes {
  display: flex;
  justify-content: space-around;
}

.step1__boxes > div {
  width: 50%;
  text-align: center;
}

.step1__boxes > div > img {
  height: 140px;
}

.step1__howWorks {
  margin-bottom: 40px;
}

.step1__howWorks h4,
.step1__saveData h4 {
  margin-bottom: 10px;
}
