.passwordInputs {
  margin-right: 35px;
}
.passwordInputs > div > input {
  display: block;
  width: 230px;
  padding: 12px 15px;
  border: 1px solid gray;
  border-radius: 2px;
}

.passwordInputs > div {
  position: relative;
  margin: 7px 0 5px 0;
}

.passwordInputs > div > img {
  position: absolute;
  right: 10px;
  top: 3px;
  width: 35px;
  cursor: pointer;
}

.passwordInputs .errorInput {
  border: 1px solid #ff0049;
}

.passwordInputs .errorMessage {
  color: #ff0049;
  font-weight: bolder;
}
