.textInput > input {
  display: block;
  width: -webkit-fill-available;
  margin-top: 7px;
  padding: 12px 15px;
  border: 1px solid gray;
  border-radius: 2px;
}

.textInput > div {
  display: flex;
  justify-content: space-between;
}
