.wizard {
  display: grid;
  grid-template-rows: 80px auto 80px;
  width: 800px;
  height: 750px;
  box-shadow: 0 0 5px 1px lightgray;
}

.wizard__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccd5da;
}

.wizard__header .stepNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 26px;
  margin: 0 20px;
  color: white;
  background-color: #788e9c;
  border-radius: 100%;
}

.wizard__header .stepNumber.active {
  background-color: #092b45;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 2px 2px black;
}

.wizard__header .stepNumber.done {
  background-color: #df0a49;
}

.wizard__body {
  padding: 15px 80px;
}

.wizard__body .currentComponent {
  height: 100%;
}

.wizard__footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 15px 80px;
  border-top: 1px solid lightgray;
}

.wizard__footer .cancelButton {
  width: 100px;
  margin: auto 0;
  height: 40px;
  color: #092b45;
  background-color: transparent;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}
.wizard__footer .nextButton {
  width: 100px;
  height: 40px;
  margin: auto 0;
  color: white;
  background-color: #092b45;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}
