@import "../../styles/base.less";

.wizard {
  display: grid;
  grid-template-rows: 80px auto 80px;
  width: 800px;
  box-shadow: 0 0 5px 1px @tertiary-color;
}

.wizard__body {
  padding: 15px 80px;
  color: @secondary-color;

  > h2 {
    margin-bottom: 50px;
    font-weight: 800;
  }
}

.wizard__body .currentComponent {
  height: 100%;
}

@media screen {
  @media (max-width: 769px) {
    .wizard__body {
      padding: 15px;
    }
  }

  @media (max-width: 480px) {
    .wizard {
      height: 100%;
    }
  }
}
