.wizard__footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 15px 80px;
  border-top: 1px solid lightgray;

  .cancelButton {
    width: 100px;
    margin: auto 0;
    height: 40px;
    color: #092b45;
    background-color: transparent;
    font-weight: bolder;
    border: none;
    cursor: pointer;
  }

  .nextButton {
    width: 100px;
    height: 40px;
    margin: auto 0;
    color: white;
    background-color: #092b45;
    font-weight: bolder;
    border: none;
    cursor: pointer;
  }
}

.wizard__footer_thirdStep {
  display: flex;
  align-items: center;
  justify-content: end;

  .nextButton {
    width: 100px;
    margin: auto 0;
    height: 40px;
    color: #ff0049;
    background-color: transparent;
    font-weight: bolder;
    border: none;
    cursor: pointer;
  }
}
